---
import Layout from "../layouts/BlogPost.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "index");
if (!about) {
  throw new Error('Failed to load "about" entry');
}
const { Content } = await render(about);
---

<Layout
	title="About Me"
	pubDate={new Date("2025-06-09")}
	heroImage={AboutHeroImage}
>
	<article>
		<h1>{about.data.title}</h1>
		<Content />
	</article>
</Layout>
