---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getEntry, render } from "astro:content";
import * as Counterscale from "@counterscale/tracker";

const home = await getEntry("home", "index");
if (!home) {
	throw new Error('Failed to load "index" entry');
}
const { Content } = await render(home);
Counterscale.init({
    siteId: "rocli.cn",
    reporterUrl: "https://counterscale.roc80.workers.dev/collect",
});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Content />
		</main>
		<Footer />
	</body>
</html>
